<?xml version="1.0"?>
<configuration>
		<configSections>
				<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<section name="MyFire.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
				</sectionGroup>
		  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MyFire.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
		<system.diagnostics>
				<sources>
						<!-- This section defines the logging configuration for My.Application.Log -->
						<source name="DefaultSource" switchName="DefaultSwitch">
								<listeners>
										<add name="FileLog"/>
										<!-- Uncomment the below section to write to the Application Event Log -->
										<!--<add name="EventLog"/>-->
								</listeners>
						</source>
				</sources>
				<switches>
						<add name="DefaultSwitch" value="Information"/>
				</switches>
				<sharedListeners>
						<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
						<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
						<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
				</sharedListeners>
		</system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
				<bindings />
				<client />
		</system.serviceModel>
		<userSettings>
				<MyFire.MySettings>
      <setting name="linked_ScreenNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseTwitterBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendUsageLogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="User_Following_List" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="User_Followers_List" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="last_load" serializeAs="String">
        <value>1753-01-01</value>
      </setting>
      <setting name="Sounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="Filter_User" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="Filter_Device" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="Filter_Word" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="api_userlist" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="api_timeline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="api_autocomplete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="support_errorlog" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="support_eventlog" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="api_profileload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="myFire_CloseToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="api_mapscontrol" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="api_statuscount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="tab_timeline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tab_mentions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tab_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tab_favourites" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="tab_search" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="myFire_TweetInBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cache_Followers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="streaming_alltweets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="display_displayscreenanme" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="display_daterelitave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Expiremental_AutoReport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Filter_Spam" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="myFire_LoadCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sounds_messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sounds_mentions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sounds_tweets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="design_twitteruserbackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Display_Tweets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Display_Mentions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Display_Messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Sounds_Tweets" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Sounds_Mentions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Sounds_Messages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notifications_Window_Placement" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="tab_ban" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SkipTCO" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="beta_mine" serializeAs="String">
        <value>False</value>
      </setting>
    </MyFire.MySettings>
		</userSettings>
  <applicationSettings>
    <MyFire.MySettings>
      <setting name="Spam_KnownAds" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Pay4Tweet</string>
            <string>OpiniAds</string>
            <string>MyLikes Network</string>
            <string>Twittad</string>
            <string>ChaCha Affiliate Program</string>
          </ArrayOfString>
        </value>
      </setting>
    </MyFire.MySettings>
  </applicationSettings>
</configuration>
